
 .main{
     width: 44vw;
 }
 

 #body{
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 56% 100%;
    background-position: 100%;
    width: 100vw;
    height: 100vh;
 }

 .theme{
    margin: 1%;
    margin-bottom: 5rem;
    margin-left: 80%;
 }

 #basic{
    margin: 4rem 2rem;
 }