
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Tema Light */
  /* background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  --primary-bg: #f7f5f3;
  --primary-text: #333333;
}

[data-theme="dark"] {
  /* Tema Dark */

  --primary-bg: #333333;
  --primary-text: #ffffff;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

