
 #bod{
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 56% 100%;
    background-position: 0%;
    width: 100vw;
    height: 100vh;
 }

 .mai{
    margin-left: 52%;
     display: flex;
     flex-direction: column;
     width: 44vw;
 }